body
  background: #fafafa
  font-family: Lato, Helvetica, Arial, sans-serif;
  color: #333
  padding: 0
  margin: 0

iframe
  width: 595px
  height: 842px
  border: 0px
  margin: 0 auto

.photo
  position: relative
  display: inline-block
  max-width: 100%
  padding: 0px
  background-size: cover
  background-position: center center
  border: none
  .checkbox
    background-repeat: no-repeat
    background-position: 5px 5px
  &.hover .checkbox
    border: 4px solid #666
    background-image: url('../images/checkbox_no.png')
  &.active .checkbox
    border: 4px solid #0F0
    background-image: url('../images/checkbox_yes.png')
  &.delete .checkbox
    border: 4px solid #F00
    background-image: url('../images/checkbox_del.png')

$headbar_height=41px
#headbar
  position: fixed
  top: 0px
  left: 0px
  z-index: 8
  height: $headbar_height
  width: 100%
  background: url('../images/header_bg.png')

#login
  height: 240px
  width: 230px
  margin: 0 auto
  margin-top: 88px


$menu_height=43px
#menu
  position: fixed
  top: $headbar_height
  left: 0px
  z-index: 7
  height: $menu_height
  width: 100%
  background: url('../images/menu_bg.png')
  a
    padding: 8px 24px 12px 24px
    cursor: pointer
  .toolbar-toggle
    width: 27px
    height: 24px
    position: absolute
    right: 5px
    top: ($menu_height - 24px) / 2
    background: url('../images/toolbar_toggle.png')
    &.checked
      background: url('../images/toolbar_toggle_checked.png')

$toolbar_width=202px
#toolbar
  height: 100%
  width: $toolbar_width
  position: fixed
  top: $headbar_height + $menu_height
  right: - $toolbar_width
  z-index: 6
  transition: right 0.5s
  background: #D8D8D8
  .show-toolbar &
    right: 0px
  .logo
    width: 100%
    height: 66px
  .selected
    width: 100%
    padding-top: 66px
    overflow-y: scroll
    .photo
      width: 60px
      height: 60px
      .checkbox
        height: 160px - 8px
  .next
    width: 100%
    position: absolute
    bottom: 0px
    left: 0px
    padding-bottom: 5px
    a
      display: block
      margin: 0px 5px
      padding: 12px 0px 13px
      background: #2980B9
      color: #FFF
      line-height: 20px
      font-size: 17px
      text-align: center
      &:hover
        background: #3498DB

#main
  margin-right: 0px
  transition: margin 0.5s
  .show-toolbar &
    margin-right: $toolbar_width
  background: #AAA
  .photo
    height: 300px
    margin-left: 5px
    margin-top: 5px
    .checkbox
      height: 300px - 8px
  &.template
    display: table-cell
    vertical-align: middle
    text-align: center