body{background:#fff;padding:0;margin:0}
.document{width:210mm;height:297mm;padding:2mm}
.image{height:57mm;margin-bottom:2mm;background-size:cover;background-position:center center;border:none;}
.image:last-child{margin-bottom:0}
