
<html>
  <body>
    <div ng-show="user.status=='login'" ng-class="{'hide-toolbar': !toolbar}" ng-init="init()" class="wrap">
      <div id="menu">
        <div ng-hide="tab=='albumPhoto'" class="wrap"><a href="#/photo" ng-class="{active: tab=='photo'}" class="nav">All Photos</a><a href="#/album" ng-class="{active: tab=='album'}" class="nav">Albums</a></div><a href="#/album" ng-show="tab=='albumPhoto'" class="back">Back</a>
        <div ng-class="{checked: toolbar}" ng-click="toolbar_toggle()" class="toolbar-toggle"></div>
      </div>
      <div id="toolbar">
        <div class="selected">
          <div style="background-image:url({{item.src}});" ng-repeat="item in selected | limitTo: 6" ng-class="{delete: item.hover}" ng-click="select(item)" ng-mouseover="item.hover=true" ng-mouseleave="item.hover=false" class="item type-{{item.type}} active">
            <div class="checkbox"></div>
          </div>
        </div>
        <div class="select_info"><a href="#/selected" class="btn_blue">{{selected.length}} Selected</a><a ng-click="clear()" class="btn_red">Delete All</a></div>
        <div class="next"><a href="#/template" class="btn_blue">Next</a></div>
      </div>
      <div id="main">
        <div style="background-image:url({{item.src}});width:{{item.dis_width}}px;height:{{item.dis_height}}px" ng-repeat="item in items | layout:box" ng-class="{hover: item.hover, active:item.selected}" ng-mouseover="item.hover=true" ng-mouseleave="item.hover=false" ng-click="select(item)" class="item type-{{item.type}}">
          <div class="checkbox"></div>
        </div>
      </div>
    </div>
  </body>
</html>