body
  background: #FFF
  padding: 0px
  margin: 0px

.main
  width: 595px - 20px
  height: 842px
  padding: 0px 10px

.item
  margin-top: 10px
  background-size: cover
  background-position: center center
  border: none