body
  background: #FFF
  padding: 0px
  margin: 0px

page_width=210mm
page_height=297mm

.document
  width: page_width
  height: page_height
  padding: 2mm

.image
  height: ((page_height - 2) / 5) - 2
  margin-bottom: 2mm
  background-size: cover
  background-position: center center
  border: none
  &:last-child
    margin-bottom: 0