body{background:#fff;padding:0;margin:0}
.document{width:210mm;height:297mm;position:relative}
.image{background-size:cover;background-position:center center;background-repeat:no-repeat;border:none;position:absolute;float:left;}
.image:nth-child(1){top:2mm;left:2mm;width:136.33333333333334mm;height:71mm}
.image:nth-child(2){top:2mm;left:141.33333333333334mm;width:66.66666666666667mm;height:71mm}
.image:nth-child(3),.image:nth-child(4),.image:nth-child(5){top:76mm;left:2mm;width:66.66666666666667mm;height:71mm}
.image:nth-child(4){left:71.66666666666667mm}
.image:nth-child(5){left:141.33333333333334mm}
.image:nth-child(6){top:150mm;left:2mm;width:66.66666666666667mm;height:145mm}
.image:nth-child(7),.image:nth-child(8){top:150mm;left:71.66666666666667mm;width:136.33333333333334mm;height:71mm}
.image:nth-child(8){top:224mm}
