<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-XXXXX-X');
      ga('send', 'pageview');
    </script>
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <!-- build:js(app) scripts/modules.js-->
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="scripts/ezEncode.js"></script>
  </head>
  <body ng-app="gruntNgApp">
    <div ng-controller="UserCtrl" class="header">
      <div id="headbar">
        <div class="title">Image2PDF</div>
        <div class="user">
          <div class="photo"></div>
          <div class="naem">Admin</div>
          <div class="more"></div>
        </div>
      </div>
      <div id="login" ng-hide="user.status=='login'">
        <form ng-submit="login()" class="form-horizontal">
          <div class="input input-username">
            <div class="left"></div>
            <div class="right"></div><i class="icon-user"></i>
            <input id="username" type="text" placeholder="Username" ng-model="username">
          </div>
          <div class="input input-password">
            <div class="left"></div>
            <div class="right"></div><i class="icon-lock"></i>
            <input id="password" type="password" placeholder="Password" ng-model="password">
          </div>
          <div ng-show="user.status=='failed'" class="message"><span>*Invalid username or password</span></div>
          <div class="toolbar">
            <label id="remember" class="remember pull-left">Remember me</label>
            <button id="login-submit" type="submit" class="pull-right">SIGN IN</button>
          </div>
        </form>
      </div>
    </div>
    <div ng-view="" class="container"></div>
    <!-- build:js scripts/scripts.js-->
    <script src="scripts/app.js"></script>
    <script src="scripts/photo_svc.js"></script>
    <script src="scripts/select_svc.js"></script>
    <script src="scripts/user_svc.js"></script>
    <script src="scripts/controllers/photo.js"></script>
    <script src="scripts/controllers/template.js"></script>
    <script src="scripts/controllers/share.js"></script>
    <!-- endbuild-->
    <!-- endbuild-->
    <!-- build:css(.tmp) styles/main.css-->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild-->
  </body>
</html>