body
  background: #FFF
  padding: 0px
  margin: 0px

$page_width=210mm - 4mm
$page_height=297mm - 4mm

.document
  width: $page_width + 4mm
  height: $page_height + 4mm
  position: relative

.image
  background-size: cover
  background-position: center center
  border: none
  position: absolute
  float: left
  $w = (($page_width - 6mm) / 3)
  $h = (($page_height - 9mm) / 4)
  &:nth-child(1)
    top: 2mm
    left: 2mm
    width: $w * 2 + 3mm
    height: $h
  &:nth-child(2)
    top: 2mm
    left: 2mm + $w * 2 + 6mm
    width: $w
    height: $h
  &:nth-child(3), &:nth-child(4), &:nth-child(5)
    top: $h + 2mm + 3mm
    left: 2mm
    width: $w
    height: $h
  &:nth-child(4)
    left: 2mm + $w + 3mm
  &:nth-child(5)
    left: 2mm + $w + 3mm + $w + 3mm
  &:nth-child(6)
    top: 2mm + $h * 2 + 6mm
    left: 2mm
    width: $w
    height: $h * 2 + 3mm
  &:nth-child(7), &:nth-child(8)
    top: 2mm + $h * 2 + 6mm
    left: 2mm + $w + 3mm
    width: $w * 2 + 3mm
    height: $h
  &:nth-child(8)
    top: 2mm + $h * 3 + 9mm