html
  body
    .wrap(ng-show="user.status=='login'",ng-class="{'hide-toolbar': !toolbar}")
      #menu
        .wrap
          a.nav(href="#/photo",ng-class="{active: tab=='photo'}") All Photos
          a.nav(href="#/album",ng-class="{active: tab=='album'}") Albums
        .toolbar-toggle(ng-class="{checked: toolbar}",ng-click="toolbar_toggle()")
      #toolbar
        .selected
          .item(class="type-{{item.type}} active",style="background-image:url({{item.src}});",ng-repeat="item in selected | limitTo: 6",ng-class="{delete: item.hover}",ng-click="select(item)",ng-mouseover="item.hover=true",ng-mouseleave="item.hover=false")
            .checkbox
        .select_info
          a.btn_blue(href="#/selected") {{selected.length}} Selected
          a.btn_red(ng-click="clear()") Delete All
        .next
          a.btn_blue(href="#/template") Next
      #main
        .item(class="type-{{item.type}}",style="background-image:url({{item.src}});width:{{item.dis_width}}px;height:{{item.dis_height}}px",ng-repeat="item in items | layout:box",ng-class="{hover: item.hover, active:item.selected}",ng-mouseover="item.hover=true",ng-mouseleave="item.hover=false",ng-click="select(item)")
          .checkbox