html
  body
    #toolbar
      .logo
        p 已選擇 {{selected.length}}
        a(ng-click="clear()") 清除
      .selected
        .photo.delete(ng-repeat="item in selected",ng-class="{delete: item.hover}",ng-click="select(item)",ng-mouseover="item.hover=true",ng-mouseleave="item.hover=false",style="background-image:url({{item.src}});")
          .checkbox
    #menu
      a 所有相片
      a 相簿
      a 已選取照片
    #main
      .photo(ng-repeat="item in items | layout:main_width",ng-class="{hover: item.hover, active:item.selected}",ng-mouseover="item.hover=true",ng-mouseleave="item.hover=false",ng-click="select(item)",style="background-image:url({{item.src}});width:{{item.view}}px")
        .checkbox