html
  body
    #toolbar
      .logo
      .templates
      .next
        a(href="#/template") OUTPUT
    #menu(ng-init="init()")
      a(href="#/photo") 預覽畫面
      a(href="#/album") 更多樣板
    #main.template
      iframe(src="./templates/long/index.html",scrolling="no")