body{background:#fff;padding:0;margin:0}
.document{width:210mm;height:297mm;position:relative}
.image{background-size:cover;background-position:center center;background-repeat:no-repeat;border:none;position:absolute;float:left;}
.image:nth-child(1){width:206mm;height:293mm;top:2mm;left:2mm}
